.home-wrapper{
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

#actionBlocks{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-bottom: 100px;

  .actionBlock{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 120px;
    width: 100%;
    border-radius: 5px;
    background-color: $color-main;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-decoration: none;

    p{
      text-transform: uppercase;
      font-size: 24px;
      font-family: Oswald, sans-serif;
      font-weight: 400;
      color: white;
      letter-spacing: 1px;
      margin: 0;
      transition: .5s;
    }

    p:nth-child(2){
      position: absolute;
      display: inline;
      font-family: Lato, sans-serif;
      font-size: 12px;
      letter-spacing: .5px;
      margin-top: 50px;

      transform: translateY(50px);
      transition: .5s;
    }

    &:hover p{
      transform: scale(1.05) translateY(-10px);
    }

    &:hover p:nth-child(2){
      transform: translateY(0);
    }
  }

  .order{
    background-image: url(../../images/img/pizza-1.jpg);
    flex-grow: 1;
    width: auto;
    max-width: 50%;
  }

  .booking{
    background-image: url(../../images/img/pizza-2.jpg);
    flex-grow: 1;
    width: auto;
    max-width: 50%;
  }

  .opening{
    p:nth-child(2){
      transform: translateY(0);
    }

    &:hover p{
      transform: scale(0.9) translateY(-10px);
    }

    &:hover p:nth-child(2){
      transform: scale(1.7) translateY(-5px);
      // font-size: 14px;
    }
  }
}

#carousel{
  margin-bottom: 150px;

  .carousel-cell{
    display: flex;

    img{
      width: 200px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 40px;
    }

    p{
      margin-right: 50px;
    }

    p:nth-of-type(2){
      font-style: italic;
    }
  }
}

#gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  row-gap: 20px;

  .gallery__element{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: .5s;
      z-index: 2;
    }

    &:hover::before{
      opacity: 1;
    }

    &:hover img{
      transform: scale(1.1);
    }

    &:hover .iconWrapper{
      transform: translate(-50%, -50%) scale(1);
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .5s;
      z-index: 1;
    }

    .iconWrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: .5s;
      z-index: 5;
    }

    .fa-solid{
      display: inline-block;
      font-size: 24px;
      color: white;
      padding: 5px;
      transition: .3s;

      &:hover{
        color: red;
      }
    }
  }
}
